@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  max-width: 2520px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

@layer components {
  .flexBetween {
    @apply flex items-center justify-between;
  }
  .flexCenter {
    @apply flex items-center justify-center;
  }
}
